.App {
  font-size: medium;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  align-items: center;
  width: 100%;
}

.App-header {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: grey;
}

body{
  width: 95%;
  margin: 20 auto;
  padding: 0 20px 20px 20px;
}

table{
  border-collapse:collapse;
  width: 100%;
}

tr{
  background-color: aliceblue;
}

td{
  text-align: left;
}

th{
  color: white;
  background-color: gray;
  text-align: left;
  padding: 5px 0 5px 10px;
}

button{
  border-radius: 5px;
}

.hideText{
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  text-overflow: ellipsis;
  width: 200px;
}

.pr-2{
  padding-right: 8px;
}

.div-icon{
  width: 80px;
}

.button_create{
  text-align: right;
  padding: 15px 5px 0 0;
}

.row{
  border: 10px solid white;
}